
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}



h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #231f20;
	}
	/* styles de paragraphe par défaut */
	p, li, textarea, label, input, select {
	}
	/* titre d'entête */
	h1 {
	font-size: 88px;
	}
	/* titre de section */
	h2 {
	font-size: 40px;
	text-align: center;
	font-weight: bold;
	}
	/**
	* ------
	* Layout
	* ------
	*/
	/**
	* ----------
	* Components
	* ----------
	*/
	.header-title {
	padding: 15px;
	background-color: #fcce00bd;
	color: #ffffff;
	text-align: center;
	font-weight: 900;
	line-height: 1;
	}
	.header-subtitle {
	padding: 15px;
	font-size: 38px;
	background-color: #ff6b00bd;
	color: #ffffff;
	text-align: center;
	font-weight: 900;
	line-height: 1;
	}
	.header-stripe {
	margin: 8px 0;
	}
	.header-stripe--red {
	height: 32px;
	background-color: #e02020bd;
	}
	.header-stripe--purple {
	height: 16px;
	background-color: #b620e0bd;
	}
	.header-stripe--blue {
	height: 8px;
	background-color: #6236ffbd;
	}

.bloc {
display: flex;
justify-content: space-around;
align-items: stretch;
text-align: justify;
}

.colonnes1{
  flex-basis: 0;
  flex-grow: 1;
}

.colonnestexte{
  padding-left: 48px;
  padding-right: 32px;
}

.colonnestexte2{
  padding-left: 33px;
  padding-right: 47px;
}

.bloc2 {
display: flex;
justify-content: space-around;
align-items: flex-start;
text-align: justify;
}

.colonnes2{
  flex-basis: 0;
  flex-grow: 1;
}
.ordinateur-1 {
  width: 487px;
  height: 471px;
  object-fit:contain;
  display: block;
  margin-left: auto;
}

.ordinateur-2{
  width: 487px;
  height: 471px;
  object-fit:contain;
  display: block;
  margin-right: auto;
}

.titre1{
  margin-top: 0px;
  margin-bottom: 34px;
  font-size: 24px;
text-align: center;}

.titre2.{
  margin-top: 64px;
  margin-bottom: 34px;
  margin-right: 33px;
  font-size: 24px;
text-align: center;}

.texte1{
  width: 640px;
  height: 345px;
  margin-left: 48px;
  margin-right: 752px
  font-size: 16px;
}
